<div class="pk-padding-bottom-s">
  We store your high score.<br>
  The site is run on Google firebase (functions &amp; firestore).
  Google firebase collects private data in logfiles etc.<br>
  <a routerLink="/info" queryParamsHandling="preserve" class="color-white">More Information</a>
  - <a href="https://www.leanovate.de/about/impressum/" class="color-white">Impressum</a>
</div>
<div>
  <button mat-raised-button color="primary" (click)="accept()">
    Accept
  </button>
  <a href="https://www.google.com/" class="pk-margin-left">
    <button mat-raised-button color="warn">
      Decline
    </button>
  </a>
</div>
