<div class="pk-padding">
  <mat-card>
    <mat-card-title>
      <div class="pk-text-center">General Information</div>
    </mat-card-title>
    <mat-card-content style="font-size: 1.2em">
      <div class="pk-padding-bottom-s">
        This is a private, non-profit site.<br>
        <br>
        It's primary indented user group is the Buddhist Monastic Community (Sangha).<br>
        You are welcome to use it, but we kindly request you do not harm yourself or others doing so.
      </div>
      <div class="pk-padding-bottom-s">
        The site is run on Google Firebase.<br>
        The source code is freely available under the 3-clause
        <a href="https://en.wikipedia.org/wiki/BSD_licenses">BSD License</a> on
        <a href="https://github.com/notfb/palikeys">Github</a>.
      </div>
      <div class="pk-padding-bottom-s">
        We do not use Google Analytics or other client side tracking software on this site.<br>
        Google firebase collects personal data in logfiles etc, see
        <a href="https://firebase.google.com/support/privacy/">Privacy and Security in Firebase</a><br>
        <br>
        The only data this site stores are your high scores in this JSON format:<br>
        <code>{{ '{"id": "A random UUID", username: "A username or nickname", "score": "A number of your high score"}'
          }}</code><br>
        If you want this data deleted, feel free to contact me through github (see above) or maybe you can guess the
        REST endpoint to do it yourself.
      </div>
    </mat-card-content>
  </mat-card>
</div>
