<mat-toolbar color="primary">
  <a routerLink="/" class="color-white" style="text-decoration: none;">
    <span class="test-title">Keyboard Tutor &alpha;</span>
  </a>
  <span *ngIf="updateAvailable" class="pk-padding-left">
    Update available, please <a href="">reload</a>!
  </span>
  <span class="pk-fill-remaining-space"></span>
  <span>
    <button mat-icon-button (click)="openUserDialog()">
      <mat-icon aria-label="Username" matTooltip="User Settings">account_circle</mat-icon>
    </button>
    <button mat-icon-button routerLink="/">
      <mat-icon aria-label="Lessons" matTooltip="Lessons">fitness_center</mat-icon>
    </button>
    <button mat-icon-button routerLink="/score">
      <mat-icon aria-label="High Score" matTooltip="High Score">bar_chart</mat-icon>
    </button>
    <button mat-icon-button routerLink="/info">
      <mat-icon aria-label="Info" matTooltip="Information">info</mat-icon>
    </button>
    <button mat-icon-button routerLink="/help">
      <mat-icon aria-label="Info" matTooltip="User Guide">help</mat-icon>
    </button>
    <button mat-icon-button>
      <a href="https://github.com/notfb/palikeys" class="color-white" matTooltip="Source Code">
        <mat-icon aria-label="Source">code</mat-icon>
      </a>
    </button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
