<div class="pk-padding">
  <mat-card class="pk-text-center">
    <mat-card-content>
      <div class="keyboard">
        <div class="keyboardRow">
          <span class="keyboardKey">Q</span>
          <span class="keyboardKey">W</span>
          <span class="keyboardKey">E</span>
          <span class="keyboardKey">R</span>
          <span class="keyboardKey">T</span>
          <span class="keyboardKey">Y</span>
          <span class="keyboardKey">U</span>
          <span class="keyboardKey">I</span>
          <span class="keyboardKey">O</span>
          <span class="keyboardKey">P</span>
        </div>
        <div class="keyboardRow">
          <span class="keyboardKey active">A</span>
          <span class="keyboardKey">S</span>
          <span class="keyboardKey">D</span>
          <span class="keyboardKey">F</span>
          <span class="keyboardKey">G</span>
          <span class="keyboardKey">H</span>
          <span class="keyboardKey">J</span>
          <span class="keyboardKey">K</span>
          <span class="keyboardKey">L</span>
        </div>
        <div class="keyboardRow">
          <span class="keyboardKey">Z</span>
          <span class="keyboardKey">X</span>
          <span class="keyboardKey">C</span>
          <span class="keyboardKey">V</span>
          <span class="keyboardKey">B</span>
          <span class="keyboardKey">N</span>
          <span class="keyboardKey">M</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
