<div class="pk-padding">
  <mat-card class="pk-text-center">
    <mat-card-content>
      <div class="keyboard">
        <div class="keyboardRow">
          <span class="keyboardKey"
                *ngFor="let key of layout.topRow"
                [ngClass]="{'active': activeChars.includes(key)}">{{key}}</span>
        </div>
        <div class="keyboardRow">
          <span class="keyboardKey"
                *ngFor="let key of layout.homeRow"
                [ngClass]="{'active': activeChars.includes(key)}">{{key}}</span>
        </div>
        <div class="keyboardRow">
          <span class="keyboardKey"
                *ngFor="let key of layout.bottomRow"
                [ngClass]="{'active': activeChars.includes(key)}">{{key}}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
