<div class="pk-padding">
  <mat-card class="pk-text-center">
    <mat-card-content>
      <div *ngIf="show" class="keyboard">
        <div class="keyboardRow">
          <span class="keyboardKey"
                *ngFor="let key of layout.topRow"
                [ngClass]="{'mark': activeChars.includes(key)}">{{key}}</span>
        </div>
        <div class="keyboardRow">
          <span class="keyboardKey"
                *ngFor="let key of layout.homeRow"
                [ngClass]="{'mark': activeChars.includes(key)}">{{key}}</span>
        </div>
        <div class="keyboardRow">
          <span class="keyboardKey"
                *ngFor="let key of layout.bottomRow"
                [ngClass]="{'mark': activeChars.includes(key)}">{{key}}</span>
        </div>
      </div>
      <mat-card-footer>
        <div class="pk-padding-bottom-s">
          <button mat-icon-button mat-stroked-button (click)="show = !show">
            <mat-icon aria-label="Toggle Keyboard Layout Visibility"
                      matTooltip="{{ show ? 'Hide Keyboard Layout' : 'Show Keyboard Layout'}}">
              {{show ? 'expand_less' : 'expand_more'}}
            </mat-icon>
          </button>
        </div>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</div>
