<div class="pk-padding">
  <mat-card class="pk-text-center">
    <mat-card-title>
      <div>Lesson {{lessonNumber}}</div>
      <div style="font-size: 0.7em; color: grey">
        <span><mat-icon>notes</mat-icon>Lesson Score: {{lessonScore}}</span>
        <span *ngIf="score" class="pk-padding-left">
          <mat-icon>bar_chart</mat-icon>High Score: {{score.score}}
        </span>
      </div>
      <div style="color: green;" *ngIf="finishedMessage">
        {{finishedMessage}}
        <a routerLink="{{makeLessonLink(0)}}">Restart</a>&nbsp;
        <a *ngIf="lessonNumber < MAX_LESSON" routerLink="{{makeLessonLink(1)}}">Next</a>
      </div>
      <div style="color: red;" *ngIf="errorMessage">{{errorMessage}}</div>
    </mat-card-title>
    <mat-card-content>
      <textarea #textArea id="lessonTextArea"
                title="Lesson"
                rows="{{lessonNumber >= LONG_LESSON_NUMBER ? 25 : 10}}"
                cols="{{lessonNumber >= LONG_LESSON_NUMBER ? 100 : 50}}"
                autofocus
                readonly
                (keypress)="onKey($event)"
                (blur)="onTextAreaBlur()"
                style="resize: none; font-size: 1.5em; font-family: 'Courier New'">{{lesson}}</textarea>
    </mat-card-content>
    <mat-card-footer>
      <mat-grid-list cols="3" rowHeight="40px" class="pk-padding-bottom-s">
        <mat-grid-tile style="text-align: left">
          <button mat-icon-button mat-stroked-button *ngIf="lessonNumber > 1" routerLink="{{makeLessonLink(-1)}}">
            <mat-icon aria-label="Previous">arrow_back</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="pk-text-center">
          <label for="keyboardLayoutSelect" class="pk-padding-right-xs">
            <mat-icon aria-label="Previous">keyboard</mat-icon>
          </label>
          <select id="keyboardLayoutSelect"
                  [(ngModel)]="layoutType"
                  (ngModelChange)="onKeyboardLayoutChange()"
                  matTooltip="Change Keyboard Layout">
            <option [value]="lo.value" *ngFor="let lo of layoutOptions">{{lo.name}}</option>
          </select>
          <select id="keyboardLayoutMapping"
                  [(ngModel)]="keyboardMapping"
                  matTooltip="Select a Keyboard Mapping"
                  title="Keyboard Layout Mapping"
                  class="pk-margin-left">
            <option [value]="false">No Mapping</option>
            <option [value]="lm.value" *ngFor="let lm of keyboardMappingOptions">{{lm.name}}</option>
          </select>
        </mat-grid-tile>
        <mat-grid-tile style="text-align: right">
          <button mat-icon-button mat-stroked-button *ngIf="lessonNumber < MAX_LESSON"
                  routerLink="{{makeLessonLink(1)}}">
            <mat-icon aria-label="Previous">arrow_forward</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-footer>
  </mat-card>
</div>
